.bg-top {
    background-color: #FDE2E3;
}

.navbar-light .navbar-nav .nav-link {
    color: #111 !important; /* Darker color */
}

/* Optional: Darker color on hover */
.navbar-light .navbar-nav .nav-link:hover {
      color: #A7112A !important; /* Even darker on hover */
}

.bg-footer-red {
    background-color: #A7112A;
    padding: 20px 0;
    margin-top: 0;
}

.primary-text {
    color:#A7112A;
}

.btn-outline-primary {
    color: #A7112A; /* Text color */
    background-color: transparent; /* Background remains transparent */
    border-color: #A7112A; /* Border color */
}

.btn-outline-primary:hover {
    color: #fff; /* Change text color on hover */
    background-color: #A7112A; /* Background color on hover */
    border-color: #A7112A; /* Border color on hover */
}

.btn-primary {
    color: #fff; /* Text color */
    background-color: #A7112A; /* Background color */
}

.btn-primary:hover {
    color: #fff; /* Text color on hover */
    background-color: #A7112A; /* Slightly darker shade for hover effect */
    border-color: #A7112A; /* Slightly darker border for hover effect */
}

.btn-pry {
    color: #232A30; /* Text color */
    background-color: #FDA0A6; /* Background color */
    width: 150px;
}


.btn-pry:hover {
    color: #fff; /* Text color */
    background-color: #A7112A; /* Background color */
    width: 150px;
}
/*.btn-yellow:hover {
    color: #fff; /* Text color on hover 
    background-color: #e55a02; /* Slightly darker shade for hover effect 
    border-color: #e55a02; /* Slightly darker border for hover effect
}
*/
.custom-btn {
    width: 100px; /* Set to your desired width */
}

.custom-btn.btn-primary {
    border-color: #A7112A;
    color:#FDE2E3;
}

.custom-btn.btn-primary:hover {
    border-color:#A7112A;
    color: #FDE2E3;
    background-color: #FDE2E3;
}

.bold-red-text {
    color: #A7112A;
    font-weight: 700; /* Bold */
}

.bold-yellow-text {
    color: #FDC104;
    font-weight: 700; /* Bold */
}