{% extends 'home.html' %}  <!-- Ensure this is pointing to the correct home template -->

{% load static %}  <!-- Load static files -->

{% block title %}Add New Route{% endblock %}

{% block content %}
  <h1>Add New Route</h1>
  <form method="post">
    {% csrf_token %}
    
    <label for="short_name">Route Short Name:</label>
    <input type="text" id="short_name" name="route_short_name" required><br><br>

    <label for="long_name">Route Long Name:</label>
    <input type="text" id="long_name" name="route_long_name" required><br><br>

    <button type="submit">Create Route</button>
  </form>

  <a href="{% url 'route_list' %}">Cancel</a>  
{% endblock %}
