{% extends 'home.html' %}

{% block title %}Route List{% endblock %}

{% block content %}
<!-- Adding a background image to the content block -->
<div class="content-container" style="background-image: url('/static/images/hero2.svg'); background-size: cover; padding: 30px;">

    <h1>All Routes</h1>
    
    <!-- Dropdown for routes from/to NSCC with destinations -->
    <label for="route-dropdown">Select Route to/from NSCC:</label>
    <select id="route-dropdown" name="route">
        <option value="">-- Select a Route --</option>
        {% for route in routes %}
            <option value="{{ route.route_id }}">
                {{ route.route_short_name }} - {{ route.route_long_name }} 
                ({{ route.origin }} to {{ route.destination }})
            </option>
        {% endfor %}
    </select>

    <table>
        <thead>
            <tr>
                <th>Short Name</th>
                <th>Long Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for route in routes %}
            <tr>
                <td>{{ route.route_short_name }}</td>
                <td>{{ route.route_long_name }}</td>
                <td>
                    <a href="{% url 'route_update' route.route_id %}">Edit</a> | 
                    <a href="{% url 'route_delete' route.route_id %}">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No routes available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <!-- Add new route button -->
    <a href="{% url 'route_create' %}" class="btn btn-primary">Add New Route</a>

</div>
{% endblock %}
